<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Notes ({{remainedNotes()}} of {{notes.length}} remaining)</th>
            <th class="centered"><a href="#/notes/add"><i class="icon-plus"></i></a></th>
            <th class="centered" ng-click="removeAll()"><i class="icon-remove"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="note in notes">
            <td class="centered">
                <input type="checkbox" ng-model="note.Done" ng-click="isDone(note)" />
            </td>
            <td ng-class="{done : note.Done == true}"><a href="#/notes/details/{{note.Id}}">{{note.Title}}</a></td>
            <td class="centered"><a href="#/notes/edit/{{note.Id}}"><i class="icon-edit"></i></a></td>
            <td class="centered" ng-click="remove(note)"><i class="icon-remove-circle"></i></td>
        </tr>
    </tbody>
</table>
